# COVID-19, Analiza eksploracyjna - pobranie i obróbka wejściowa danych

**Obiektem naszych analiz są ogólnodostępne dane dotyczące pandemi COVID-19 w Polsce w roku 2020. Naszą tezą jest fakt stosowności zastosowania obostrzeń. Efektem całego projektu ma być również określenie skuteczności stosowanych obostrzeń.**

In [1]:
import pandas as pd
import numpy as np

### Odczytujemy dane z oficjalnego pliku Michała Rogalskiego.

In [2]:
new_cases = pd.read_excel("covid_poland.xlsx", sheet_name="Wzrost", header=1, usecols="A,B,H,M,K,O,G,L", nrows=289)

In [3]:
new_tests = pd.read_excel("covid_poland.xlsx", sheet_name="Testy", header=1, usecols="F", nrows=290).drop(0)

**Jako, że dostępne dane nie są gotowe do przekazania do dataframe'a oraz jako, że pochodzą one z różnych arkuszy, poniższe skrypty pozwalają nam na ich pobranie i przetworzenie do plików, które będziemy mogli traktować jako nasze dane wejściowe do analizy.**

In [9]:
data = pd.concat([new_cases, new_tests.reset_index(drop=True)], axis=1)

In [7]:
data['Dzień pandemii'] = pd.to_datetime(data['Data']) - pd.to_datetime("2020-03-03")

In [10]:
data.insert(1, 'Dzień pandemii', pd.to_datetime(data['Data']) - pd.to_datetime("2020-03-03"))

## Dane ogólnopolskie:

In [11]:
data

,Data,Dzień pandemii,Nowe przypadki,Nowe zgony,Nowe wyzdrowienia,Suma potwierdzonych przypadków,Suma zgonów,Suma wyzdrowień,Liczba aktywnych przypadków,Dobowa liczba wykonanych testów
0,2020-03-03,0 days,0,0,0,0,0,0,0,25.0
1,2020-03-04,1 days,1,0,0,1,0,0,1,92.0
2,2020-03-05,2 days,0,0,0,1,0,0,1,179.0
3,2020-03-06,3 days,4,0,0,5,0,0,5,145.0
4,2020-03-07,4 days,1,0,0,6,0,0,6,154.0
...,...,...,...,...,...,...,...,...,...,...
284,2020-12-12,284 days,11497,502,25185,1126471,22676,840541,263254,22061.0
285,2020-12-13,285 days,8977,188,18354,1135448,22864,858895,253689,19913.0
286,2020-12-14,286 days,4896,96,10260,1140344,22960,869155,248229,30613.0
287,2020-12-15,287 days,6907,349,10593,1147251,23309,879748,244194,42123.0
288,2020-12-16,288 days,12454,605,12902,1159705,23914,892650,243141,37017.0

## Dane regionalne:

In [12]:
data.to_excel("poland_covid_formatted.xlsx")

In [13]:
reg_data = pd.read_excel("covid_poland.xlsx", sheet_name="Wzrost w województwach")

**Dzienna liczba nowych przypadków:**

In [14]:
reg_data_new_cases = pd.DataFrame(reg_data.iloc[6:23, 0:289])
reg_data_new_cases.columns = reg_data_new_cases.iloc[0]
reg_data_new_cases_formatted = reg_data_new_cases.reset_index(drop=True).drop(0).set_index('Województwo')
reg_data_new_cases_formatted.index.name = None
reg_data_new_cases_formatted.columns.name = None
reg_data_new_cases_transponed = reg_data_new_cases_formatted.transpose()
reg_data_new_cases_transponed

,Dolnośląskie,Kujawsko-Pomorskie,Lubelskie,Lubuskie,Łódzkie,Małopolskie,Mazowieckie,Opolskie,Podkarpackie,Podlaskie,Pomorskie,Śląskie,Świętokrzyskie,Warmińsko-Mazurskie,Wielkopolskie,Zachodniopomorskie
2020-03-04,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2020-03-05,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-03-06,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,2
2020-03-07,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2020-03-08,1,0,0,0,0,0,2,0,0,0,0,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-12,698,1083,745,373,695,404,1522,315,525,356,752,993,183,736,1032,973
2020-12-13,498,756,378,300,572,310,1280,133,204,231,1003,668,132,646,1132,593
2020-12-14,258,531,179,207,190,143,715,176,180,78,460,272,108,275,392,561
2020-12-15,519,750,437,150,446,232,768,129,306,169,495,608,174,572,639,328
2020-12-16,629,1181,641,323,943,538,1461,247,322,370,868,1340,181,815,1373,1064

**Dzienna liczba nowych zgonów:**

In [15]:
reg_data_new_deaths = pd.DataFrame(reg_data.iloc[49:66, 0:289])
reg_data_new_deaths.columns = reg_data_new_deaths.iloc[0]
reg_data_new_deaths_formatted = reg_data_new_deaths.reset_index(drop=True).drop(0).set_index('Województwo')
reg_data_new_deaths_formatted.index.name = None
reg_data_new_deaths_formatted.columns.name = None
reg_data_new_deaths_transponed = reg_data_new_deaths_formatted.transpose()
reg_data_new_deaths_transponed

,Dolnośląskie,Kujawsko-Pomorskie,Lubelskie,Lubuskie,Łódzkie,Małopolskie,Mazowieckie,Opolskie,Podkarpackie,Podlaskie,Pomorskie,Śląskie,Świętokrzyskie,Warmińsko-Mazurskie,Wielkopolskie,Zachodniopomorskie
2020-03-04,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-03-05,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-03-06,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-03-07,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-03-08,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-12,34,47,23,12,35,22,75,8,23,13,32,62,15,26,58,17
2020-12-13,1,18,14,0,1,19,24,0,5,8,3,17,1,30,31,16
2020-12-14,0,9,11,7,0,0,12,1,3,0,4,3,0,1,43,2
2020-12-15,30,28,14,17,26,27,23,17,7,5,29,45,8,23,46,4
2020-12-16,40,45,37,29,68,25,66,20,31,29,28,48,11,31,73,24

**Suma zgonów:**

In [16]:
reg_data_total_deaths = pd.DataFrame(reg_data.iloc[69:86, 0:289])
reg_data_total_deaths.columns = reg_data_total_deaths.iloc[0]
reg_data_total_deaths_formatted = reg_data_total_deaths.reset_index(drop=True).drop(0).set_index('Województwo')
reg_data_total_deaths_formatted.index.name = None
reg_data_total_deaths_formatted.columns.name = None
reg_data_total_deaths_transponed = reg_data_total_deaths_formatted.transpose()
reg_data_total_deaths_transponed

,Dolnośląskie,Kujawsko-Pomorskie,Lubelskie,Lubuskie,Łódzkie,Małopolskie,Mazowieckie,Opolskie,Podkarpackie,Podlaskie,Pomorskie,Śląskie,Świętokrzyskie,Warmińsko-Mazurskie,Wielkopolskie,Zachodniopomorskie
2020-03-04,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-03-05,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-03-06,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-03-07,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-03-08,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-12,1611,987,1396,501,1492,2357,2747,853,1580,671,1228,2859,759,826,2091,718
2020-12-13,1612,1005,1410,501,1493,2376,2771,853,1585,679,1231,2876,760,856,2122,734
2020-12-14,1612,1014,1421,508,1493,2376,2783,854,1588,679,1235,2879,760,857,2165,736
2020-12-15,1642,1042,1435,525,1519,2403,2806,871,1595,684,1264,2924,768,880,2211,740
2020-12-16,1682,1087,1472,554,1587,2428,2872,891,1626,713,1292,2972,779,911,2284,764

**Liczba aktywnych przypadków:**

In [17]:
reg_data_active_cases = pd.DataFrame(reg_data.iloc[129:146, 0:289])
reg_data_active_cases.columns = reg_data_active_cases.iloc[0]
reg_data_active_cases_formatted = reg_data_active_cases.reset_index(drop=True).drop(0).set_index('Województwo')
reg_data_active_cases_formatted.index.name = None
reg_data_active_cases_formatted.columns.name = None
reg_data_active_cases_transponed = reg_data_active_cases_formatted.transpose()
reg_data_active_cases_transponed.iloc[68:90]

,Dolnośląskie,Kujawsko-Pomorskie,Lubelskie,Lubuskie,Łódzkie,Małopolskie,Mazowieckie,Opolskie,Podkarpackie,Podlaskie,Pomorskie,Śląskie,Świętokrzyskie,Warmińsko-Mazurskie,Wielkopolskie,Zachodniopomorskie
2020-05-11 00:00:00,1376,285,116,16,689,584,1347,303,84,74,256,2727,131,38,1042,220
2020-05-12 00:00:00,1303,279,115,16,673,565,1326,306,78,66,241,3144,131,39,1008,221
2020-05-13 00:00:00,1305,256,112,15,652,560,1340,276,76,56,235,3249,131,43,960,219
2020-05-14 00:00:00,1309,232,112,14,623,547,1334,272,70,56,207,3509,129,44,940,203
2020-05-15 00:00:00,1293,230,109,14,614,534,1345,288,64,53,195,3763,125,40,934,197
2020-05-16 00:00:00,1187,200,108,13,573,521,1328,283,57,53,193,3899,120,40,937,194
2020-05-17 00:00:00,1193,196,107,13,497,517,1319,290,51,53,189,4060,119,39,936,193
2020-05-18 00:00:00,1171,186,108,13,445,493,1315,297,39,54,170,4197,122,37,928,189
2020-05-19 00:00:00,1148,159,104,11,440,482,1309,299,30,52,157,4432,122,41,933,181
2020-05-20 00:00:00,1129,152,100,11,439,459,1321,277,27,55,144,4669,113,41,1016,158
2020-05-21 00:00:00,1138,146,102,10,428,447,1338,265,25,55,138,4891,117,32,881,163
2020-05-22 00:00:00,1160,132,98,12,385,420,1344,270,24,57,136,5115,112,32,863,151
2020-05-23 00:00:00,1193,116,98,14,343,412,1375,274,23,60,140,5267,117,32,875,153
2020-05-24 00:00:00,1185,116,111,18,356,409,1387,261,25,64,142,5400,122,32,915,142
2020-05-25 00:00:00,1116,116,111,22,368,389,1436,266,24,61,142,5522,130,32,888,140
2020-05-26 00:00:00,1094,103,111,24,370,358,1478,242,22,62,135,5715,133,35,861,132
2020-05-27 00:00:00,1124,98,130,24,375,337,1499,244,18,71,132,5844,142,31,877,124
2020-05-28 00:00:00,1066,88,144,25,393,323,1538,250,19,72,125,5915,163,29,862,113
2020-05-29 00:00:00,1015,87,142,26,397,309,1508,259,20,71,126,6036,161,27,873,111
2020-05-30 00:00:00,1021,76,140,28,412,318,1532,270,17,75,118,6165,194,27,754,110
2020-05-31 00:00:00,1030,73,143,28,428,326,1558,268,22,76,114,6174,198,27,743,109
2020-06-01 00:00:00,1065,68,136,26,472,308,1586,255,21,80,116,6301,204,25,702,108

**Calkowita liczba przypadków:**

In [18]:
reg_data_total_cases = pd.DataFrame(reg_data.iloc[29:46, 0:289])
reg_data_total_cases.columns = reg_data_total_cases.iloc[0]
reg_data_total_cases_formatted = reg_data_total_cases.reset_index(drop=True).drop(0).set_index('Województwo')
reg_data_total_cases_formatted.index.name = None
reg_data_total_cases_formatted.columns.name = None
reg_data_total_cases_transponed = reg_data_total_cases_formatted.transpose()
reg_data_total_cases_transponed

,Dolnośląskie,Kujawsko-Pomorskie,Lubelskie,Lubuskie,Łódzkie,Małopolskie,Mazowieckie,Opolskie,Podkarpackie,Podlaskie,Pomorskie,Śląskie,Świętokrzyskie,Warmińsko-Mazurskie,Wielkopolskie,Zachodniopomorskie
2020-03-04,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2020-03-05,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2020-03-06,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,2
2020-03-07,1,0,0,1,0,0,0,0,0,0,0,0,0,2,0,2
2020-03-08,2,0,0,1,0,0,2,0,0,0,0,2,0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-12,79038,68345,57366,25961,73863,102618,135034,32995,55272,29809,66550,141227,32451,41190,112614,47783
2020-12-13,79536,69101,57744,26261,74435,102928,136314,33128,55476,30040,67553,141895,32583,41836,113746,48376
2020-12-14,79794,69632,57923,26468,74625,103071,137029,33304,55656,30118,68013,142167,32691,42111,114138,48937
2020-12-15,80313,70382,58360,26618,75071,103303,137797,33433,55962,30287,68508,142775,32865,42683,114777,49265
2020-12-16,80942,71563,59001,26941,76014,103841,139258,33680,56284,30657,69376,144115,33046,43498,116150,50329

**Liczba nowych wyzdrowiałych**

In [20]:
reg_data_new_recovered = pd.DataFrame(reg_data.iloc[89:106, 0:289])
reg_data_new_recovered.columns = reg_data_new_recovered.iloc[0]
reg_data_new_recovered_formatted = reg_data_new_recovered.reset_index(drop=True).drop(0).set_index('Województwo')
reg_data_new_recovered_formatted.index.name = None
reg_data_new_recovered_formatted.columns.name = None
reg_data_new_recovered_transponed = reg_data_new_recovered_formatted.transpose()
reg_data_new_recovered_transponed

,Dolnośląskie,Kujawsko-Pomorskie,Lubelskie,Lubuskie,Łódzkie,Małopolskie,Mazowieckie,Opolskie,Podkarpackie,Podlaskie,Pomorskie,Śląskie,Świętokrzyskie,Warmińsko-Mazurskie,Wielkopolskie,Zachodniopomorskie
2020-03-04,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-03-05,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-03-06,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-03-07,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-03-08,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Suma wyzdrowiałych**

In [21]:
reg_data_total_recovered = pd.DataFrame(reg_data.iloc[109:128, 0:289])
reg_data_total_recovered.columns = reg_data_total_recovered.iloc[0]
reg_data_total_recovered_formatted = reg_data_total_recovered.reset_index(drop=True).drop(0).set_index('Województwo')
reg_data_total_recovered_formatted.index.name = None
reg_data_total_recovered_formatted.columns.name = None
reg_data_total_recovered_transponed = reg_data_total_recovered_formatted.transpose()
reg_data_total_recovered_transponed

,Dolnośląskie,Kujawsko-Pomorskie,Lubelskie,Lubuskie,Łódzkie,Małopolskie,Mazowieckie,Opolskie,Podkarpackie,Podlaskie,Pomorskie,Śląskie,Świętokrzyskie,Warmińsko-Mazurskie,Wielkopolskie,Zachodniopomorskie,NaN,NaN
2020-03-04,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
2020-03-05,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
2020-03-06,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
2020-03-07,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
2020-03-08,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-12,35525,16234,27414,10608,25941,64233,69307,12053,28904,8391,23013,63784,12414,11877,24976,13790,448464,NaN
2020-12-13,35525,16234,27414,10608,25941,64233,69307,12053,28904,8391,23013,63784,12414,11877,24976,13790,448464,NaN
2020-12-14,35525,16234,27414,10608,25941,64233,69307,12053,28904,8391,23013,63784,12414,11877,24976,13790,448464,NaN
2020-12-15,35525,16234,27414,10608,25941,64233,69307,12053,28904,8391,23013,63784,12414,11877,24976,13790,448464,NaN
2020-12-16,35525,16234,27414,10608,25941,64233,69307,12053,28904,8391,23013,63784,12414,11877,24976,13790,448464,NaN

**Liczba wykonywanych dziennie testów:**

Uwagi: 
- Z racji na raportowanie wykonanej liczby testów jedynie w ujęciu tygodniowym, przy pozostałych cechach raportowanych w ujęciu dziennym, w celu spójności danych w początkowej analizie, rozłożyliśmy dane tygodniowe na cały tydzień.
- Województwo Świętokrzyskie raportuje testy dopiero od sierpnia, dlatego też analiza dla tego regionu obejmie węższe ramy czasowe.
- Dane dotyczące testów dla województw obejmują okres od 11 maja, analiza z uwzględnieniem testów będzie więc dokonywana na podstawie zbiorczych danych krajowych.

In [22]:
reg_test_data = pd.read_excel("covid_poland.xlsx", sheet_name=" Testy w województwach")

In [23]:
reg_data_tests = pd.DataFrame(reg_test_data.iloc[21:38, 0:33])
reg_data_tests.columns = reg_data_tests.iloc[0]
reg_data_tests_formatted = reg_data_tests.reset_index(drop=True).drop(0).set_index('Województwo')
reg_data_tests_formatted.index.name = None
reg_data_tests_formatted.columns.name = None
reg_data_tests_transponed = reg_data_tests_formatted.transpose().iloc[1:]
reg_data_tests_transponed = reg_data_tests_transponed.rename(columns={'Świętokrzyskie *' : 'Świętokrzyskie'})
reg_data_tests_transponed.iloc[0]['Świętokrzyskie'] = np.NaN
reg_data_tests_df = pd.DataFrame(np.repeat(reg_data_tests_transponed.values,7,axis=0))
reg_data_tests_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,11851,8463,5591,1704,5613,12737,33486,803,2554,8574,2182,13456,NaN,2881,21664,4244
1,11851,8463,5591,1704,5613,12737,33486,803,2554,8574,2182,13456,NaN,2881,21664,4244
2,11851,8463,5591,1704,5613,12737,33486,803,2554,8574,2182,13456,NaN,2881,21664,4244
3,11851,8463,5591,1704,5613,12737,33486,803,2554,8574,2182,13456,NaN,2881,21664,4244
4,11851,8463,5591,1704,5613,12737,33486,803,2554,8574,2182,13456,NaN,2881,21664,4244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,15226,15984,9829,2686,15348,10892,35331,1889,6517,22528,5904,26047,5731,5448,22972,17003
213,15226,15984,9829,2686,15348,10892,35331,1889,6517,22528,5904,26047,5731,5448,22972,17003
214,15226,15984,9829,2686,15348,10892,35331,1889,6517,22528,5904,26047,5731,5448,22972,17003
215,15226,15984,9829,2686,15348,10892,35331,1889,6517,22528,5904,26047,5731,5448,22972,17003
216,15226,15984,9829,2686,15348,10892,35331,1889,6517,22528,5904,26047,5731,5448,22972,17003

In [24]:
reg_names_dict = {
    0: 'Dolnośląskie',
    1: 'Kujawsko-Pomorskie',
    2: 'Lubelskie',
    3: 'Lubuskie',
    4: 'Łódzkie',
    5: 'Małopolskie',
    6: 'Mazowieckie',
    7: 'Opolskie',
    8: 'Podkarpackie',
    9: 'Podlaskie',
    10: 'Pomorskie',
    11: 'Śląskie',
    12: 'Świętokrzyskie',
    13: 'Warmińsko-Mazurskie',
    14: 'Wielkopolskie',
    15: 'Zachodniopomorskie'
}

In [25]:
reg_dict = {}

**Utworzenie plików z danymi dla poszczególnych regionów na podstawie odczytanych z arkuszy danych:**

In [27]:
for i in range(0,16):
    reg_dict[reg_names_dict[i]] = pd.concat([reg_data_new_cases_transponed[reg_names_dict[i]], reg_data_active_cases_transponed[reg_names_dict[i]], reg_data_total_cases_transponed[reg_names_dict[i]], reg_data_new_deaths_transponed[reg_names_dict[i]], reg_data_total_deaths_transponed[reg_names_dict[i]], reg_data_new_recovered_transponed[reg_names_dict[i]], reg_data_total_recovered_transponed[reg_names_dict[i]]], axis=1)
    reg_dict[reg_names_dict[i]].columns = ['Nowe przypadki', 'Aktywne przypadki', 'Suma potwierdzonych przypadków', 'Nowe zgony', 'Suma zgonów','Nowe wyzdrowienia','Suma wyzdrowień']
    reg_dict[reg_names_dict[i]]['Liczba testów'] = np.NaN
    reg_dict[reg_names_dict[i]].iloc[68:285,7] = np.array(reg_data_tests_df[i]) / 7
    
    filename = reg_names_dict[i] + '_data_formatted.xlsx'
    reg_dict[reg_names_dict[i]].to_excel(filename)